@using BlazingPostMan.Data.UIInterfaces;

<!-- Display the tab headers -->
<CascadingValue Value=this>
    <ul class="nav nav-tabs justify-content-center">
        @ChildContent
    </ul>
</CascadingValue>
<!-- Display body for only the active tab -->
<div class="nav-tabs-body background-white">
    @ActiveTab?.ChildContent
</div>
@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    public ITab ActiveTab { get; private set; }

    public void AddTab(ITab tab)
    {
        if (ActiveTab is null)
        {
            SetActiveTab(tab);
        }
    }
    public void SetActiveTab(ITab tab)
    {
        if (ActiveTab != tab)
        {
            ActiveTab = tab;
            StateHasChanged();
        }
    }
}
<style>
    .background-white {
        background: #fff;
    }

    .nav-tabs-body {
        padding: 1.5em;
    }
</style>