@page "/post-person"
@inject IRequestDataManager _requestDataManager

<h3>PostPerson</h3>



@code {
    private Request model;

    protected override void OnInitialized()
    {
        model = _requestDataManager.GetLastRequest();
    }

    private void SaveRequest(bool clear)
    {
        _requestDataManager.SaveRequest(model);
        if (clear)
        {
            model = new();
        }
    }
}
