<h4>Add Params</h4>
@if (Error)
{
    switch (ErrorType)
    {
        case ErrorTypes.ExistingParamKey:
            {
                <p class="text-danger">Error: Param with that key exists. Would you like to <span class="text-primary hand" @onclick="ConfirmParamUpdate">update</span> it?<span class="text-dark hand" @onclick="ClearError"> X</span></p>
                break;
            }
        case ErrorTypes.EmptyParamValue:
            {
                <p class="text-danger">Error: Param value cannot be empty. <span class="text-dark hand" @onclick="ClearError"> X</span></p>
                break;
            }
        default:
            break;
    }

}

<table class="table mt-3">
    <tr>
        <th>Key</th>
        <th>Value</th>
        <th>Action</th>
    </tr>
    @foreach (var keyValue in Params)
    {
        <tr>
            <td>@keyValue.Key</td>
            <td>@keyValue.Value</td>
            <th>
                <button class="btn btn-primary" @onclick="() => DeleteParam(keyValue.Key)">Delete</button>
                <button class="btn btn-primary" @onclick="() => EditParam(keyValue.Key)">Edit</button>
            </th>
        </tr>
    }
    <tr>
        <td><input class="form-control" id="new-key" type="text" @bind="NewKey" /></td>
        <td><input class="form-control" id="new-val" type="text" @bind="NewValue" /></td>
        <td>
            @if (Editing)
            {
                <button class="btn btn-primary" @onclick="UpdateParam">Update</button>
            }
            else
            {
                <button class="btn btn-primary" @onclick="AddParam">Add New</button>
            }
        </td>
    </tr>
</table>

@code {
    [Parameter]
    public Dictionary<string, string> Params { get; set; }

    [Parameter]
    public EventCallback OnParamAction { get; set; }

    private string NewKey { get; set; }
    private string NewValue { get; set; }

    private bool Error = false;
    private ErrorTypes ErrorType;

    private bool Editing = false;

    private async Task AddParam()
    {
        if (string.IsNullOrEmpty(NewValue))
        {
            ShowError(ErrorTypes.EmptyParamValue);
            return;
        }

        var success = Params.TryAdd(NewKey, NewValue);

        if (success)
        {
            await OnParamAction.InvokeAsync();
            ClearParamInputs();
        }
        else
        {
            ShowError(ErrorTypes.ExistingParamKey);
        }
    }

    private async Task DeleteParam(string key)
    {
        await OnParamAction.InvokeAsync();
        Params.Remove(key);
    }

    private void EditParam(string key)
    {
        NewKey = key;
        NewValue = Params[key];
        Editing = true;
    }

    private async Task UpdateParam()
    {
        if (string.IsNullOrEmpty(NewValue))
        {
            ShowError(ErrorTypes.EmptyParamValue);
            return;
        }

        await OnParamAction.InvokeAsync();
        Params[NewKey] = NewValue;
        Editing = false;
    }

    private async Task ConfirmParamUpdate()
    {
        await UpdateParam();
        ClearError();
        ClearParamInputs();
    }

    private void ShowError(ErrorTypes errorType)
    {
        Error = true;
        ErrorType = errorType;
    }

    private void ClearError()
    {
        Error = false;
        ErrorType = ErrorTypes.NotSpecified;
    }

    private void ClearParamInputs()
    {
        NewKey = string.Empty;
        NewValue = string.Empty;
    }
}